<!-- <div class='card'>
  <div class="card-header">
    {{pageTitle+':' +product?.productName}}
  </div>
<div class='card-body'
*ngIf='product'>
<div class='row'>
<div class='col-md-8'>
<div class="row">
    <div class="col-md-4"> Name:</div>
    <div class="col-md-8"> {{product.productNAme}}:</div>
</div>
<div class="row">
    <div class="col-md-4"> Description:</div>
    <div class="col-md-8"> {{product.desciption}}:</div>
</div>
<div class="row">
    <div class="col-md-4"> price:</div>
    <div class="col-md-8"> {{product.price}}:</div>
</div>
<div class="row">
    <div class="col-md-4"> quantity:</div>
    <div class="col-md-8"> {{product.price}}:</div>
</div>
</div>
</div>
</div> -->
<table class="table table-success table-striped">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody >
        
            
            <tr *ngFor=" let list of Product" >
                
                <td>{{list.name}}</td>
                <td>{{list.quantity}}</td>
                <td>{{list.price}}</td>
                <td>{{list.description}}</td>
              </tr>
           
      
          
       
     
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>



  