/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    font-family:sans-serif ;
}
.container{
    margin-left:5%;
    margin-right :5%;
}
.commonForm{
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto

}
.form-input{
    height:3px;
    margin-bottom: 20px;
    border:1px solid blueviolet;
    padding-left:15px;
    color:blueviolet

}